---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About KeyboardKB"
	description=""
	pubDate={new Date('March 15 2023')}
	updatedDate={new Date('March 15 2023')}
	heroImage=""
>
	<p>
		Welcome to ZimmyThat, the ultimate online destination for everything related to ZimmWriter software. Our mission is to provide our readers with the most up-to-date information about the latest features, applications, and uses for this powerful content-writing tool.
	</p>
	<p>
		We understand how difficult it can be to keep up with the ever-evolving world of technology, so we strive to make keeping up with ZimmWriter as easy as possible. We provide comprehensive tutorials and tips to help you make the most of your content-writing experience with ZimmWriter.
	</p>
	<p>
		We are committed to providing our readers with reliable, unbiased, and helpful information, so they can make the most out of their content-writing experience.
	</p>
	<p>
		If you are looking for the latest news, tips, and tutorials related to ZimmWriter, then you have come to the right place.
	</p>
</Layout>
